[flake8]
exclude = 
    .venv,
    __pycache__,
    migrations,
    */migrations/*,
    */tests/*,
    run_tests.py
max-line-length = 120
ignore = 
    E501,  # Длинные строки
    W293,  # Пробелы в пустых строках (уже исправили)
    E402,  # Импорт не в начале
    F821,  # Undefined name
    E302,  # Нет 2 пустых строк
    E305,  # Нет 2 пустых строк после функции
    E131,  # Неправильный отступ
    F811,  # Переопределение
    F841,  # Неиспользуемая переменная
    F401   # Неиспользуемый импорт
